@font-face {
    font-family: OpenSans;
    font-weight: normal;
    src: url('../res/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../res/fonts/OpenSans-Bold.ttf');
}
