.clear {
    clear: both;
}

body {
	width: 90%;
	margin: auto;
}

/*div  {border: 1px dotted #ccc;}*/


div#header {}

    div#logo {float:left;}
    div#account {float: right;}

<<<<<<< HEAD:src/css/layout.css
div#navigation {}
	div#buttons {float: left;}

	div#search {float: right;}
	
	div#navigation ul li {
		display: block;
		float: left;
		list-style: none;
	}

div#categories {float: left; width: 15%;}
	
div#main {float: right; width: 83%;}
=======
div#navigation {height: 200px;}
    div#buttons {float: left;}

    div#search {float: right;}
    
div#categories {float: left; height:200px;}
    
div#main {}
>>>>>>> origin/master:src/layout/css/layout.css



div#footer {}
