.clear {
	clear: both;
}

div  {border: 1px solid #000000;}


div#header {height: 100px;}

	div#logo {float:left;}
	div#account {float: right;}

div#navigation {}
	div#buttons {float: left; }
	
	div#buttons ul li{display: inline-block;)

	div#search {float: right;}
	
div#categories {float: left; width: 20%;}
	
div#main {float: right; width: 78%;}



div#footer {}