/* ---------- global ---------- */

/* headers */
h1, h2, h3, h4, h5, h6 {
	color: #ff3500;
}
/* links */
a {
	text-decoration: none;
	color: #ff3500;
}
a:hover {
	text-decoration: underline;
	color: #ff3500;
}

/* ---------- changes on bootstrap style ---------- */

/* badge in list-group */
a.list-group-item.active > .badge,
.nav-pills > .active > a >.badge {
	color: #ff3500;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #ff3500;
	border-color: #ff3500;
}

/* ---------- custom definitions ---------- */

.cs-ratings {
	color: #ff3500;
	padding-right: 10px;
	padding-left: 10px;
}
