/* ---------- global ---------- */

/* headers */
h1, h2, h3, h4, h5, h6 {
	color: #ff3500;
}
/* links */
a {
	text-decoration: none;
	color: #ff3500;
}
a:hover {
	text-decoration: underline;
	color: #ff3500;
}

textarea {
	 resize:none;
}

.scroll {
	overflow: scroll;
}

h4,
.list-group .list-group-item h4 {
	color: #ff3500;
}

/* ---------- changes on bootstrap style ---------- */

/* badge in list-group */
a.list-group-item.active > .badge,
.nav-pills > .active > a >.badge {
	color: #ff3500;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #ff3500;
	border-color: #ff3500;
}

/* ---------- custom definitions ---------- */

.cs-ratings {
	color: #ff3500;
	padding-right: 10px;
	padding-left: 10px;
}

/* gitkit style */
.gitkit-user-card-menu {
	z-index: 100;
}
.gitkit-user-card,
.gitkit-account-chip,
.gitkit-sign-in-button,
.gitkit-button {
	width: 100%;
}
#signin .gitkit-account-chip {
	border: none;
	background: none;
}
.list-group-item.no-padding {
	padding: 0;
}
#signin .gitkit-button {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
